/file/Track/
/file/auto-add/
/file/Common_RE.bmg
/file/Common_G.bmg
/file/Common_I.bmg
/file/strapA_16_9_832x456de
/file/strapA_16_9_832x456en
/file/Common_RI.bmg
/file/strapA_16_9_832x456ge
/file/Common_RG.bmg
/file/ct_icons.tpl
/file/Common_S.bmg
/file/Common_F.bmg
/file/strapA_16_9_832x456it
/file/savebanner.tpl
/file/Common_RS.bmg
/file/Common_RF.bmg
/file/Common_E.bmg
/file/strapA_16_9_832x456es
/file/strapA_16_9_832x456fr
/file/strapA_608x456de
/file/strapA_608x456en
/file/strapA_608x456es
/file/strapA_608x456fr
/file/strapA_608x456ge
/file/strapA_608x456it
/file/strapB_16_9_832x456de
/file/strapB_16_9_832x456en
/file/strapB_16_9_832x456fr
/file/strapB_16_9_832x456ge
/file/strapB_16_9_832x456es
/file/strapB_16_9_832x456it
/file/strapB_608x456de
/file/strapB_608x456en
/file/strapB_608x456fr
/file/strapB_608x456ge
/file/strapB_608x456it
/file/strapB_608x456es
/file/tt_obi_bottom_curve_000.tpl
/file/tt_hatena_64x64.tpl
/file/tt_obi_bottom_left_000.tpl
/file/tt_obi_bottom_right_000.tpl
/file/tt_obi_check_000.tpl
/file/tt_obi_top_left_000.tpl
/file/tt_obi_top_right_000.tpl
/file/tt_obi_top_curve_000.tpl
/venv/
/icon.png
/.idea/.gitignore
/.idea/discord.xml
/.idea/misc.xml
/.idea/MKWF-Install.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/file/CTFILE.txt
/file/tracks.bmg.txt
/test/Common_I.txt
/test/Common.bmg
/test/Common.txt
/test/file/Common_E.txt
/test/Common_E.txt
/test/Common_F.txt
/test/Common_G.txt
/test/Common_RE.txt
/test/Common_RF.txt
/test/Common_RG.txt
/test/Common_RI.txt
/test/Common_RS.txt
/test/Common_S.txt
/test/file/CTFILE.txt
/file/RCTFILE.txt
/file/strapA_16_9_832x456es.png
/file/strapA_16_9_832x456fr.png
/file/strapA_16_9_832x456de.png
/file/strapA_16_9_832x456en.png
/file/strapA_16_9_832x456ge.png
/file/strapA_16_9_832x456it.png
/file/strapA_608x456de.png
/file/strapA_608x456en.png
/file/strapA_608x456es.png
/file/strapA_608x456fr.png
/file/strapA_608x456ge.png
/file/strapA_608x456it.png
/file/ct_icons.tpl.png
/build/